body {
    background-color: rgba(48, 112, 109, 0.829);
    font-family: 'Nunito', sans-serif;
}

div.flex-align {
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    height: 100%;
  }

img {
    border: 1px solid #b51630;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
  }

.img-w150 {
    width: 148px;
    border-radius: 90%;
}

.menu {
    margin-top: 20px;
}